<div data-dojo-id="${id}" data-dojo-type="dijit/Dialog" class="lotusTabDialog lcSharebox" title="${nls.resetTitle.label}">
	<div class="lotusDialogBorder" style="width: 440px;">
		<div class="dijitDialogTitleBar lotusDialogHeader" dojoattachpoint="titleBar" title="${nls.resetTitle.label}" style="padding-bottom: 15px !important;">
			<span id="${id}_title" class="dijitDialogTitle" dojoattachpoint="titleNode">${nls.resetTitle.label}</span>
			<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: cancelDialog" title="${nls.close.label}" role="button" tabIndex="-1">
			        <span data-dojo-attach-point="closeText" class="closeText" title="${nls.close.label}">x</span>
	        	</span>	
		</div>
		<form class="lotusDialog lotusForm2" action="javascript:;" method="post" aria-live="assertive" id="${id}_form">
		        <div class="lotusDialogContent">
			        <div style="display:none" id="${id}_messageContainer"></div>
				<div style="padding-bottom:10px" id="${id}_infoContainer"></div>
				<!-- version 1.0 -->
                                <label for="${id}_sendemail" style="color:Gray">
					<input type="radio" name="sendOrShowPwd" value="sendemail" id="${id}_sendemail" disabled="true" />
					${nls.resetOption1.label}</label>
                                <label for="${id}_showpwd">
					<input type="radio" name="sendOrShowPwd" value="showpwd" id="${id}_showpwd" checked="checked"/>
					${nls.resetOption2.label}</label>
				<!-- prepared for version 3.0
                                <label for="${id}_sendemail">
					<input type="radio" name="sendOrShowPwd" value="sendemail" id="${id}_sendemail" checked="checked"/>
					${nls.resetOption1.label}</label>
                                <label for="${id}_showpwd">
					<input type="radio" name="sendOrShowPwd" value="showpwd" id="${id}_showpwd"/>
					${nls.resetOption2.label}</label>
				-->
				<div style="display:none" id="${id}_passwordContainer"></div>
				<input type="hidden" name="docunid" value="" id="${id}_docunidContainer">
		        </div>
			<div class="lotusDialogFooter">
		                <input value="${nls.resetSubmit.label}" class="lotusBtn" type="submit" data-dojo-attach-event="onclick: resetPassword" id="${id}_resetBtn"/>
				<input name="CloseButtonName" value="${nls.cancel.label}" class="lotusBtn" type="button" data-dojo-attach-event="onclick: cancelDialog" id="${id}_closeBtn"/>
		        </div>
	        </form>
	</div>
</div>
